.card-div{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
}

.image-div{
    height: 80%;
    width: 100%;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card-text{
    font-weight: bold;
}